/* ------------- POLICES DU SITE ------------- */

@font-face {
  font-family: 'robotoregular';
  src: url('../font/Roboto-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotobold';
  src: url('../font/Roboto-Bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotomedium';
  src: url('../font/Roboto-Medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoblack';
  src: url('../font/Roboto-Black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/* ------------- REGLES DU SITE ------------- */

/* Mise en page général ------------- */
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'robotoregular', Arial, sans-serif;
  background: white;
}
.bloc_page {
  max-width: 1366px;
  width: 100%;
  margin: auto;
  border: 1px solid grey;
}

#header {
  display: flex;
  border: 1px solid black;
  justify-content: center;
}

#header h1 {
  padding: 10px;
  border: 1px solid green;
}

.aside {
  border-right: 1px solid red;
  padding: 20px;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: row;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 50px;
  width: 80%;
}

time {
  font-style: italic;
  font-size: 0.8em;
}

article p {
  text-align: justify;
}

.readMore {
  font-size: 0.8em;
  font-style: italic;
  text-decoration: none;
  color: blue;
}

footer {
  text-align: center;
  border: 1px solid rgb(220,220,220);
  background-color: rgb(220,220,220);
  font-size: 0.8em;
  color: grey;
}


/* ------------- FORMULAIRE COMMENTAIRE ------------- */


.addComment input {
  width: 80px;
}

.addComment {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  min-width: 250px;
}

#username {
  width: 160px;
}
